<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cameroni.ottobt">

	<uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityManager"
            android:label="@string/title_activity_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlarmManager"
            android:label="@string/title_activity_alarm_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlertManager"
            android:label="@string/title_activity_alert_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAlarm"
            android:label="@string/title_activity_edit_alarm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAlert"
            android:label="@string/title_activity_edit_alert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HarmonDeviceSettings"
            android:label="@string/title_activity_harmon_device_settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        
        <receiver android:name=".NotificationReceiver"/>
    </application>

</manifest>
